@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.dev-icons p {
  margin-bottom: 0;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 65px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.software-skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  box-sizing: border-box;
  position: relative;
}

.software-skills-list {
  &:after,
  &:before {
    content: "";
    position: absolute;
    background: white;
    z-index: 1;
  }
  &:after {
    right: 0;
    height: 2pt;
    width: auto;
    top: auto;
    bottom: 0;
    left: 0;
  }
  &:before {
    right: 0;
    width: 2pt;
    height: auto;
    top: 0;
    bottom: 0;
    left: auto;
  }
}

.skills-group-wrap {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 1pt solid rgba(0, 0, 0, 0.2);
  border-bottom: 1pt solid rgba(0, 0, 0, 0.2);

  h4 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
  }
}

.skills-group-wrap {
  ul.skills-group {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    position: relative;
  }
}

.skills-group {
  .skill-item {
    position: relative;
    padding-left: 15px;
  }
  .skill-item:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    background: #55198b;
    left: 0px;
    top: 7px;
    border-radius: 50%;
  }
}
